
<p>
  <b>Given when then:</b>
  <%= @stepsnippet.given_when_then %>
</p>

<p>
  <b>Body:</b>
  <%= @stepsnippet.body %>
</p>


<%= link_to 'Edit', edit_stepsnippet_path(@stepsnippet) %> |
<%= link_to 'Back', stepsnippets_path %>
